<!DOCTYPE html>
<html>
<head>
    <title>Actors HTML view</title>
</head>
<body>
<h1>Actors</h1>
{{#actor}}
    <div>
        <p>Name: {{name}}</p>

        <p>Birthday: {{birthDate}}</p>
    </div>
{{/actor}}
</body>
</html>